.Navbar{
    position: fixed;
    top:0;
    width: 100%;
    height: 70px;
    padding: 43px 43px;
    display: flex;
    align-items: center;
    z-index: 1;

    transition-timing-function: ease-in;
    transition: all 0.5s;

}
.Navbar__black{
    background-color: #111;
}

.Navbar__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Navbar__logo{
    width: 100px;
    object-fit: contain;
    cursor: pointer;

}
.Navbar__avatar{
    width: 33px;
    height: 33px;
    cursor: pointer;
}